<template>
  <div class="app">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <router-link class="nav-link" href="#" to="platform">News</router-link>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data() {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    }
  }
</script>

<style>
  .nav {
    list-style: none;
  }

  .nav-item {
    display: inline-flex;
    margin-right: 10px;
  }

  .nav-link {
    color: black;
    text-decoration: none;
    transition: 0.3s color;
  }
  .nav-link:hover {
    color: red;
  }

</style>
